<!doctype html>
<html lang="en">

<head>
  <!-- Meta and Title -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kotaku Scraper</title>
  <!-- Favicon -->
  <link rel="icon" href="assets/images/favicon.png?" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom CSS-->
  <link rel="stylesheet" href="assets/css/styles.css">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Modal -->
  <div class="modal fade" id="articles-modal" tabindex="-1" role="dialog" aria-labelledby="articles-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="articles-modal-label"><strong>Scrape Complete</strong></h5>
        </div>
        <div class="modal-body articles-added-div">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn solid-btn reload-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Header/Nav Container -->
  <div class="container-fluid header-nav-container">
    <!-- Header -->
    <div class="container-fluid text-center header">
      <h1 class="header-title"><strong>Mongo Scraper</strong></h1>
      <p class="header-subtitle">Kotaku Edition</p>
    </div>

    <!-- Nav -->
    <div class="container-fluid text-center nav-container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved</a>
        </li>
      </ul>
    </div>
  </div>


  <!-- Sticky Side Nav -->
  <!-- I stole this pretty much as is, so the class names are unrelated to this site -->
  <ul class="share">
    <li>
      <a href="/">
        <div class="social-link">
          <i class="fas fa-home sidebar-icon"></i>
          <div class="nav-label">
            <span>Go Home</span>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="/saved">
        <div class="social-link">
          <i class="far fa-save sidebar-icon"></i>
          <div class="nav-label">
            <span>View Saved</span>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/awyand/video-game-news-scraper" target="_blank">
        <div class="social-link">
          <i class="fab fa-github sidebar-icon"></i>
          <div class="nav-label">
            <span>View Source</span>
          </div>
        </div>
      </a>
    </li>
  </ul>





  <!-- Handlebars body -->
  {{{ body }}}
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Custom JS -->
  <script src="assets/scripts/app.js"></script>
</body>

</html>
