<!-- Welcome / Scrape Button Div -->
<div class="container text-center scrape-container">
  <h3><strong>Welcome to Mongo Scraper: Kotaku Edition</strong></h3>
  <p>
    Click the Scrape button below to scrape Kotaku's video game blog for articles.
    Once the scrape is complete, you will receive an alert with the results of the scrape.
  </p>
  <p>
    For each article, we provide an image, the article title, a link to read the article
    on Kotaku, and some Kotatu stats (number of comments and stars).
  </p>
  <p>
    When you click the save button, a bookmark icon will be added to the article.
    Over on the Saved page, you can view all saved articles and remove articles from
    the saved list.
  </p>
  <p>Enjoy!</p>
  <button type="button" class="btn scrape-btn solid-btn">Scrape</button>
</div>

<div class="jumbotron empty-jumbo text-center">
  <h2><strong>It appears that the database is empty</strong></h2>
  <p>Click the button below to scrape Kotaku for new articles.</p>
  <button type="button" class="btn btn-empty scrape-btn">Scrape</button>
</div>
