<div class="jumbotron empty-jumbo text-center">
  <h2><strong>No saved articles.</strong></h2>
  <p>Return home and start saving some articles!</p>
  <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
</div>
